.result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
  border: 1px solid #76c0ae;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(118, 192, 174, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

.result th,
.result td {
  border: 1px solid #76c0ae;
  padding: 0.5rem;
}

.result tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.result tbody tr:nth-child(even) {
  background-color: rgba(118, 192, 174, 0.1);
}

.result tbody tr:hover {
  background-color: rgba(118, 192, 174, 0.2);
  transition: background-color 0.3s ease;
}
